<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
    <link th:href="@{js/app.js}"
          href="../../static/js/app.js">
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.detail}">상품 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="postId" th:text="#{label.post.id}">상품 ID</label>
        <input type="text" id="postId" name="postId" class="form-control" value="1" th:value="${post.id}" readonly>
    </div>
    <div>
        <label for="title" th:text="#{label.post.article}">상품명</label>
        <input type="text" id="title" name="title" class="form-control" value="상품A" th:value="${post.title}" readonly>
    </div>
    <div>
        <label for="author" th:text="#{label.post.author}">가격</label>
        <input type="text" id="author" name="author" class="form-control" value="10000" th:value="${post.author}" readonly>
    </div>
    <div>
        <label for="content" th:text="#{label.post.content}">가격</label>
        <input type="text" id="content" name="content" class="form-control" value="10000" th:value="${post.content}" readonly>
    </div>
    <div>
        <label for="view" th:text="#{label.post.view}">수량</label>
        <input type="text" id="view" name="view" class="form-control" value="10" th:value="${post.view}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                    type="button" th:text="#{page.updatePost}">게시글 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='posts.html'"
                    th:onclick="|location.href='@{/posts}'|"
                    type="button" th:text="#{button.cancel}">목록으로</button>
        </div>
    </div>


    <div class="py-5 text-center">
        <h2 th:text="#{page.addComment}">댓글 등록</h2>
    </div>
    <br/>
    <div class="card">
        <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
        <form>
            <input type="hidden" id="postsId" value="{{posts.id}}">
            <div class="card-body">
                <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <div class="card-footer">
                <button type="button" id="btn-comment-save" class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
            </div>
        </form>
    </div>

    </form>
    <!-- Reply Section -->
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.comment.id}"></th>
                <th th:text="#{label.comment.comment}"></th>
                <th th:text="#{label.comment.author}"></th>
            </tr>
            </thead>
            <tbody>
            <!--            모델 어트리뷰트에서 받은 post를 가져와서 뿌려준다.-->
            <tr th:each="comment : ${comments}">
                <!--                변수를 사용하고 싶으면 아래와 같은 문법을 사용하여라-->
                <td th:text="${comment.id}">댓글번호</td>
                <td th:text="${comment.author}">작성자</td>
                <td th:text="${comment.comment}">내용</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>
