<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <!--        메시지 사용-->
        <h2 th:text="#{page.board}"></h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='/posts/save'"
                    th:onclick="|location.href='@{/posts/save}'|"
                    type="button" th:text="#{page.addPost}">게시글 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.post.id}"></th>
                <th th:text="#{label.post.article}"></th>
                <th th:text="#{label.post.author}"></th>
                <th th:text="#{label.post.view}"></th>
            </tr>
            </thead>
            <tbody>
            <!--            모델 어트리뷰트에서 받은 post를 가져와서 뿌려준다.-->
            <tr th:each="post : ${posts}">
                <!--                변수를 사용하고 싶으면 아래와 같은 문법을 사용하여라-->
                <td><a th:href="@{posts/{postId}(postId=${post.id})}" th:text="${post.id}">
                    게시글 ID</a></td>
                <td><a th:href="@{posts/{postId}(postId=${post.id})}" th:text="${post.title}">제목</a></td>
                <td><a th:href="@{posts/{postId}(postId=${post.id})}" th:text="${post.author}">작성자</a></td>
                <td th:text="${post.view}">조회수</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>